@import "components/base.css";
@import "components/helpers.css";
@import "components/inputs.css";
@import "components/buttons.css";
@import "components/alerts.css";

.login-container {
    align-items: center;
    background-color: #efd2f7;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}


.login-container .login-box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
    0 2px 2px rgba(0, 0, 0, 0.20),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.10),
    0 16px 16px rgba(0, 0, 0, 0.05);
    height: auto;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.login-container .login-box .login-title {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

