.alert {
    border-radius: 3px;
    color: #000;
    font-size: 1.1rem;
    padding: 20px;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.alert-success {
    background-color: #b2d693;
}

.alert-danger {
    background-color: #ff9b9b;
}

.alert-info {
    background-color: #b4e7ec;
}

.alert-warning {
    background-color: #d7d793;
}