* {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfdfd;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

.container {
    padding: 10px 30px;
}

.section-header, .main-content {
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

.section-header ul {
    display: flex;
    align-content: flex-start;
}

.pull-right {
    margin-left: auto
}

.pull-left {
    margin-right: auto
}

.overflow-hidden {
    overflow: hidden;
}

.divider {
    height: 1px;
    margin: 15px 0;
    border-bottom: 1px solid #323232;
    clear: both;
    overflow: hidden;
    width: 100%;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
}