.btn {
    background-color: transparent;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 15px;
    transition: box-shadow 0.3s ease 0s;
    border-radius: 3px;
    text-align: center;
}

a.btn {
    display: table;
    box-sizing: border-box;
}

.btn-sm {
    padding: 6px 8px;
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
    0 2px 2px rgba(0, 0, 0, 0.20),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.10),
    0 16px 16px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.btn-block {
    clear: both;
    width: 100%;
}

.btn-primary {
    background-color: #e7b9f3;
    border-color: #e7b9f3;
}

.btn-secondary {
    background-color: #9898e2;
    border-color: #9898e2;
}

.btn-dark {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.btn-white {
    background-color: #fff;
    border-color: #fff;
}


.btn-default {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}

.btn-info {
    background-color: #b4e7ec;
    border-color: #b4e7ec;
}

.btn-danger {
    background-color: #ff9b9b;
    border-color: #ff9b9b;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}

@media (max-width: 575.98px) {
    .btn-xs-block {
        width: 100%;
    }
}