.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.justify-content-center {
    justify-content: center !important;
}

.col-6 {
    width: 50%;
}

@media (max-width: 575.98px) {
    .row-xs-column {
        flex-direction: column;
    }

    .col-xs-12 {
        width: 100%;
    }

    .flex-flow-wrap {
        flex-flow: wrap;
    }
}