input, textarea, select {
    transition: box-shadow 0.3s ease 0s;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
}