.nav-container nav {
    background-color: #9898e2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
    0 2px 2px rgba(0, 0, 0, 0.20),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.10),
    0 16px 16px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.nav-container nav ul {
    display: flex;
    justify-content: left;
}

.nav-container nav li {
    font-size: 1.2rem;
    padding: 20px 10px;
    box-sizing: border-box;
}

.nav-container .nav-brand {
    background-color: #7979b5;
    line-height: 2;
}

@media (max-width: 575.98px) {
    .nav-container .nav-brand {
        display: none;
    }
}