.table-responsive {
    max-width: 100%;
    overflow-x: scroll;
}

.table {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #d2d2d2;
}

.table-bordered th {
    font-weight: bolder;
    padding: 15px 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.table-bordered td {
    padding: 8px;
}

.table-hover tr {
    transition: background-color 0.3s ease 0s;
}

.table-hover tr:hover {
    background-color: #efd2f7;
}